@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'poppins',sans-serif ;
}
select{
  background-color: #81b8f8;
  border-radius: 5px;
  border-color: #81b8f8;
  padding: 5px;
  position: absolute;
  top:80px;
  right: 125px;
}

.login-section{
  border: 2px solid #81b8f8;
  height:550px;
  width: 400px;
  padding: 5px;
  position: absolute;
  right: 200px;
  top: 75px;
  transform: translate();
  transition: .3s;
  overflow: hidden;
  background-color: #fff;
}

.login-section .formbox{
  position: absolute;
  display: flex;
  justify-content:center;
  align-items: center;
  height:550px;
  width: 400px;
}

.Error{
  font-size: 2em;
  text-align:center;
  position: relative;
  top: -5px;
  color: #8f0000;
}

h2{
  font-size: 2em;
  text-align:center;
  position: relative;
  top: -15px;
  color: #81b8f8;
}


.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #81b8f8;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left:5px;
  transform: translateY(-50%);
  color: #81b8f8;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
  top: -5px;
}
.inputbox input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #81b8f8;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #81b8f8;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #81b8f8;
  display: flex;
  justify-content: center;
}
.forget label input{
  margin-right: 3px;
}
.forget label a{
  color: #81b8f8;
  text-decoration: none;
}
.forget label a:hover{
  text-decoration: underline;
}
.black-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #81b8f8;
  border:none;
  color: white;
  outline:none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.black-button:hover {
  background-color: white;
  color: #81b8f8;
  border: 2px solid #81b8f8;
}
.register{
  font-size: .9em;
  color: #81b8f8;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
   text-decoration: none;
   color: #81b8f8;
   font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}
img{
  width: 700px;
  height: 600px;
  position: absolute;
  left: 100px;
  top: 50px;
  bottom: 50px;
}
a{
  color: #81b8f8;
  position: relative;
  right: -15px;
}


.login-section .formbox.login{
  transform: translateY(-550px);
  transition: .6s ease;
}
.login-section.active .formbox.login{
  transform: translateY(0);
  transition-delay: .3s;
}

.login-section .formbox.register{

  transform: translateY(-10px);
  transition: transform .6s;
}
.login-section.active .formbox.register{
  transform: translateY(550px);
  transition-delay: 0s;
}

